/* Component Branch */
#MSAbranch {
                    margin-top: 20vh;
                    margin-left: 5vw;
                    height: 60vh;
                    width: 90vw;
                    border-radius: 30px;
                    outline-color: rgb(221, 54, 87);
                    outline-style: solid;
                    outline-offset: 3px;
                    outline-width: 4px;
                  }
#branchpic {
                    outline-color: rgb(243, 99, 99);
                    outline-style: solid;
                    outline-width: 4px;
                    outline-offset: 3px;
                }
.card {
                    transition: 0.3s;
                }
.card:hover {
                    transform: scale(1.05);
 
                }
.card-branch:hover {
                    transform: scale(1.05);
                    box-shadow: 0px 0px 10px 3px crimson !important;
                }
.btn-group img {
                    transition: 0.3s;
                }
.btn-group img:hover {
                    transform: scale(1.10);
                }
/* End Branch */

/* Name Company */
#textname {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

/* End Name Company */

/* Component MainHome */
.parallex {
    margin-top: 7vh;
    width: 100vw;
    height: 93vh;

}

#sale-box, #service-box, #body-box {
    width: 90vw;
} 
#saledoor-pic, #servicedoor-pic, #bodydoor-pic {
    width: 40%;
}

#sale-line, #service-line, #body-line{
    width: 80%;
    height: 2px;
    background-color: crimson;
    border-radius: 25px;
}
#sale-content, #service-content, #body-content{
    width: 60%;
}
/* End MainHome */


/* Component CardCar */
.flip-card {
    border-radius: 20px !important;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin:1vh 1vw;
   
  }
  .flip-card-inner {
    border-radius: 20px !important;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 4px 4px 6px rgba(248, 68, 68, 0.796);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    border-radius: 20px !important;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(249, 249, 249);
    color: rgb(4, 4, 4);
    transform: rotateY(180deg);
  }
  .carousel-item {
    height: 32rem;
  }
/* End CardCar */


/* Component VideoElements */
.vdo-element {
  margin-top: 30px;
  margin-bottom: 30px;
}
.vdo-iframe {
  width: 100%;
  height: 100%;
  padding: 0vh 10vw;
  margin: 0vh 0vw;
}
/* End VideoElement*/

/* Component ContentBranch */
.place-content {
  border-radius: 25px;
  box-shadow: 3px 3px 15px 1px crimson;
  transition: 0.30s;
}
.place-content:hover {
  transform: scale(1.03);
}
/* End ContentBranch */

/* Component BranchVideoSlide */
.branch-home-vdo {
   margin-top: 5vh;
   box-sizing: border-box;
   width: 90vw;
   margin-left: 5vw;
   border-radius: 30px;
   outline-color: rgb(221, 54, 87);
   outline-style: solid;
   outline-offset: 3px;
   outline-width: 4px;
}
/* End BranchVideoSlide */
