.main-SalePage {
                    background-attachment: fixed; 
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

}
.carousel-control-next, .carousel-control-prev {
    background-color: lightgray;
    width: 5%;
    height: 15%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 9999px;
}

@media  (max-width: 1000px) {
    .carousel-control-next, .carousel-control-prev {
         display: none;
    }
}